In [1]:
# import necessary libraries
from sqlalchemy import func
import pandas as pd

from flask import (
    Flask,
    render_template,
    jsonify)

from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///db/bigfoot.sqlite"

db = SQLAlchemy(app)


class Bigfoot(db.Model):
    __tablename__ = 'bigfoot'

    id = db.Column(db.Integer, primary_key=True)
    number = db.Column(db.Integer)
    title = db.Column(db.String)
    classification = db.Column(db.String)
    timestamp = db.Column(db.String)
    latitude = db.Column(db.Float)
    longitude = db.Column(db.Float)


sel = [func.strftime("%Y", Bigfoot.timestamp), func.count(Bigfoot.timestamp)]
results = db.session.query(*sel).\
    group_by(func.strftime("%Y", Bigfoot.timestamp)).all()

/Users/joonyoo/anaconda3/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [9]:
[row[0] for row in results]

['1869',
 '1921',
 '1925',
 '1930',
 '1932',
 '1934',
 '1937',
 '1938',
 '1941',
 '1942',
 '1944',
 '1947',
 '1948',
 '1949',
 '1950',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2053']

In [12]:
df = pd.DataFrame({"year": [row[0] for row in results],
                  "sightings":[row[1] for row in results] })

In [13]:
df

    year  sightings
0   1869          1
1   1921          1
2   1925          1
3   1930          1
4   1932          1
5   1934          1
6   1937          1
7   1938          1
8   1941          1
9   1942          1
10  1944          2
11  1947          1
12  1948          1
13  1949          2
14  1950          3
15  1952          1
16  1953          2
17  1954          1
18  1955          3
19  1956          4
20  1957          4
21  1958          6
22  1959          1
23  1960          6
24  1961          9
25  1962          6
26  1963         10
27  1964          9
28  1965         10
29  1966          7
..   ...        ...
52  1989         30
53  1990         40
54  1991         42
55  1992         31
56  1993         43
57  1994         56
58  1995         48
59  1996         54
60  1997         78
61  1998         80
62  1999         66
63  2000        145
64  2001        135
65  2002        108
66  2003        154
67  2004        250
68  2005        226
69  2006        189
70  2007        170
71  2008        145
72  2009        123
73  2010         95
74  2011        118
75  2012        132
76  2013        104
77  2014         87
78  2015         59
79  2016         34
80  2017          9
81  2053          1

[82 rows x 2 columns]

In [ ]:
# results = db.execute("select year(timestamp)

df =   pd.DataFrame(results , columns = ["year", "sightings"]) 

return jsonify(df.to_dict(orient ="records"))