### Instructions

* Create an engine to connect to the census database.

* Query all the data from the `Census_data` table and load into pandas.

* Create an engine to connect to the zip database.

* Query all the data from the `Zip_data` table and load in pandas.

* Show the `.head()` of your newly imported data.

### Bonus

* Use pandas `merge` to combine the two DataFrames.

In [6]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

In [12]:
# Create a connection to the Census database

# Path to sqlite
database_path = "../Resources/Census_Data.sqlite"
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [24]:
# Query All Records in the the City Table


df = pd.read_sql("select * from Census_Data ; " , conn)

In [26]:
df

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"HOUSTON, TX",HOUSTON,TX,3061887,1775897,684416,11586,230549,1368287,54180,...,22637,33.439583,32.550000,34.363542,56206.50000,32239.52083,956.708333,178233.6842,29.775734,-95.414548
1,"CHICAGO, IL",CHICAGO,IL,2702091,1318869,843633,7554,161478,785374,32800,...,18209,34.526786,33.798214,35.141071,57735.96429,38730.83929,1119.928571,264739.2857,41.867838,-87.673440
2,"BROOKLYN, NY",BROOKLYN,NY,2595259,1126111,870465,8744,297890,509243,48934,...,14845,35.175676,33.367568,36.578378,51469.18919,28309.67568,1261.783784,605743.2432,40.652805,-73.956528
3,"LOS ANGELES, CA",LOS ANGELES,CA,2426413,1068202,324842,15949,273829,1292382,62684,...,12329,35.335484,34.535484,36.061290,47494.58333,30073.19355,1201.766667,557115.0000,34.042209,-118.303468
4,"MIAMI, FL",MIAMI,FL,1820704,1361009,363514,2250,33144,1162711,27137,...,6969,38.740741,37.120370,40.262963,51232.90741,25949.35185,1260.833333,243279.6296,25.760268,-80.298511
5,"SAN ANTONIO, TX",SAN ANTONIO,TX,1691381,1322190,121664,11185,44444,1023451,21499,...,9300,34.190000,33.183333,35.347458,54895.83051,25640.81667,958.898305,153575.4386,29.471225,-98.513205
6,"NEW YORK, NY",NEW YORK,NY,1620104,916945,242764,6142,189863,413498,24301,...,19499,36.497778,36.260000,36.493333,94798.62222,76624.95556,1920.266667,850072.7727,40.762037,-73.975924
7,"PHILADELPHIA, PA",PHILADELPHIA,PA,1555247,648207,664911,5326,106753,207721,20729,...,10975,34.731915,33.421277,36.074468,44288.39130,27674.70213,996.282609,181040.4255,39.996510,-75.148031
8,"LAS VEGAS, NV",LAS VEGAS,NV,1472489,912231,157421,9915,151652,469159,18371,...,4604,37.416667,37.071429,37.730952,55166.19048,28074.09524,1083.000000,179661.9048,36.139276,-115.224931
9,"BRONX, NY",BRONX,NY,1430052,301634,472535,7980,52364,784866,33258,...,3387,34.516000,32.260000,36.496000,39554.88000,20247.20000,1082.760000,340872.0000,40.848791,-73.878200
10,"PHOENIX, AZ",PHOENIX,AZ,1369844,1019324,91469,29357,44502,586283,16461,...,7597,34.414286,33.857143,35.076190,49920.66667,26301.83333,961.238095,181840.4762,33.527766,-112.083449
11,"DALLAS, TX",DALLAS,TX,1329726,815173,308551,3767,41410,545746,21398,...,7191,33.966667,33.354167,34.700000,51959.39583,33505.18750,943.645833,223186.6667,32.810262,-96.800366
12,"SAN DIEGO, CA",SAN DIEGO,CA,1306582,819451,90123,7358,229690,377202,17019,...,16821,33.097222,32.625000,33.619444,77168.96774,34919.88889,1491.354839,514990.3226,32.788488,-117.137925
13,"MINNEAPOLIS, MN",MINNEAPOLIS,MN,1059766,758785,145455,9044,73863,81230,12488,...,12038,36.140000,35.264000,36.996000,66141.14583,37016.32000,1004.102041,232647.9167,44.983260,-93.307044
14,"DENVER, CO",DENVER,CO,1028894,816625,74566,11137,34567,330590,9575,...,10093,34.823684,34.152632,35.413158,57185.15789,34953.63158,1026.263158,270865.7895,39.741042,-104.978352
15,"AUSTIN, TX",AUSTIN,TX,1027371,785903,74586,4572,68651,335989,8696,...,13249,34.604545,34.384091,34.797727,71627.34884,38839.86364,1167.674419,297683.7209,30.305351,-97.767592
16,"SAN JOSE, CA",SAN JOSE,CA,1024666,452451,30549,6104,339947,342454,20487,...,14743,36.825000,36.260714,37.392857,91940.50000,38731.64286,1713.607143,598103.5714,37.308494,-121.857796
17,"ATLANTA, GA",ATLANTA,GA,950416,424542,426685,4222,49200,97430,6481,...,10710,33.015385,32.817949,33.343590,55902.32432,36804.94872,1026.972973,260986.1111,33.797612,-84.384225
18,"ORLANDO, FL",ORLANDO,FL,935485,587045,211392,2090,51552,293056,8802,...,4683,34.750000,33.690323,35.116129,51566.33333,26399.46875,1111.400000,178420.0000,28.501775,-81.341504
19,"INDIANAPOLIS, IN",INDIANAPOLIS,IN,933995,589097,252100,2518,23475,90111,7474,...,5988,36.224324,34.697297,37.621622,51174.83784,28196.18919,869.000000,132586.1111,39.806473,-86.140903
20,"SAINT LOUIS, MO",SAINT LOUIS,MO,926277,554227,313530,1813,28109,28712,5582,...,7329,37.460000,36.046667,38.524444,50134.20000,31416.57778,854.044444,185306.9767,38.638412,-90.300284
21,"TUCSON, AZ",TUCSON,AZ,894126,692157,33377,24915,25626,333819,7948,...,6105,39.243750,38.256250,40.218750,51534.51613,27108.12500,917.903226,182600.0000,32.235782,-110.959324
22,"SEATTLE, WA",SEATTLE,WA,890619,596744,74003,7174,126819,78890,9551,...,15303,38.300000,37.785714,38.647059,67507.52941,43074.71429,1145.666667,417417.6471,47.593450,-122.329986
23,"PORTLAND, OR",PORTLAND,OR,882233,692328,43027,5967,69239,87596,8126,...,9480,37.960606,37.554545,38.590909,58080.00000,36114.00000,990.606061,345578.1250,45.518978,-122.659133
24,"FORT WORTH, TX",FORT WORTH,TX,862814,583743,153823,4751,28327,302647,10823,...,4576,32.606250,31.984375,33.228125,50795.51613,24620.56250,940.161290,123580.0000,32.755196,-97.334117
25,"CHARLOTTE, NC",CHARLOTTE,NC,852368,447893,290917,2751,47369,114079,7360,...,7378,34.208333,33.462500,34.891667,59646.41667,36061.12500,963.041667,224445.8333,35.205675,-80.829588
26,"SAN FRANCISCO, CA",SAN FRANCISCO,CA,840838,409698,46844,2854,284426,128661,19589,...,14900,38.435714,37.974074,39.035714,86977.30769,57324.35714,1696.777778,862884.0000,37.764229,-122.428560
27,"JACKSONVILLE, FL",JACKSONVILLE,FL,835368,500136,257277,2032,37197,70983,6679,...,5575,35.283871,33.938710,36.874194,47525.93333,24525.58065,977.600000,137942.8571,30.303873,-81.648418
28,"MILWAUKEE, WI",MILWAUKEE,WI,814322,465951,248432,4547,29590,123677,8475,...,4547,34.431034,33.172414,34.755172,43695.28571,25459.62069,827.535714,147339.2857,43.053503,-87.968863
29,"COLUMBUS, OH",COLUMBUS,OH,809714,514331,217673,1633,28816,46207,7897,...,6505,32.936667,32.080000,33.756667,44047.23333,25934.83333,823.133333,141058.6207,39.996912,-82.985025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
969,"WILMINGTON, CA",WILMINGTON,CA,57963,37931,1266,3162,1423,52183,1588,...,180,28.900000,28.000000,29.800000,41569.00000,15005.00000,1006.000000,322500.0000,33.779284,-118.261723
970,"SHERMAN OAKS, CA",SHERMAN OAKS,CA,57960,46630,2915,207,4421,6546,214,...,584,39.700000,39.200000,39.850000,79959.00000,57706.50000,1557.000000,773800.0000,34.147883,-118.448331
971,"RICHMOND, KY",RICHMOND,KY,57892,52373,3211,357,601,1088,416,...,337,33.400000,32.500000,34.300000,41796.00000,22659.00000,643.000000,155300.0000,37.761600,-84.312523
972,"PALM DESERT, CA",PALM DESERT,CA,57833,48470,904,43,2723,13206,406,...,106,57.350000,55.600000,58.600000,54012.50000,41315.00000,1177.000000,319300.0000,33.736706,-116.368916
973,"ATHENS, AL",ATHENS,AL,57762,46821,7682,306,281,3954,531,...,322,39.333333,39.066667,39.566667,50107.00000,24124.33333,628.000000,126866.6667,34.815905,-86.985556
974,"LAND O LAKES, FL",LAND O LAKES,FL,57755,48379,4283,66,2063,10137,302,...,286,38.833333,37.233333,40.233333,74529.33333,30438.00000,1353.666667,187166.6667,28.276676,-82.466898
975,"NEW BALTIMORE, MI",NEW BALTIMORE,MI,57695,52455,3005,61,615,1605,415,...,266,37.700000,35.750000,39.500000,66888.50000,28379.00000,881.000000,150650.0000,42.683774,-82.797544
976,"PLYMOUTH, MA",PLYMOUTH,MA,57658,53689,1077,194,674,1199,167,...,281,44.200000,42.400000,45.800000,76835.00000,37042.00000,1329.000000,323000.0000,41.882056,-70.631290
977,"STILLWATER, OK",STILLWATER,OK,57598,45841,2556,2479,3185,2643,174,...,507,23.333333,23.433333,23.233333,35365.50000,15490.33333,756.500000,158250.0000,36.124073,-97.075899
978,"WESTMINSTER, MD",WESTMINSTER,MD,57575,52863,2723,82,739,2001,256,...,474,41.150000,40.300000,41.950000,76302.50000,33361.50000,1134.500000,301050.0000,39.601153,-77.009325
979,"FOUNTAIN VALLEY, CA",FOUNTAIN VALLEY,CA,57508,30094,579,147,19414,10129,830,...,634,43.100000,42.000000,44.400000,81825.00000,34133.00000,1696.000000,613800.0000,33.710582,-117.951129
980,"GRETNA, LA",GRETNA,LA,57433,26656,21468,395,2795,9585,831,...,130,35.300000,34.750000,35.550000,42388.00000,22450.50000,897.500000,154550.0000,29.900400,-90.040257
981,"LEBANON, TN",LEBANON,TN,57412,49307,4975,175,544,2892,491,...,170,40.550000,39.600000,42.300000,52560.50000,26548.50000,845.500000,174500.0000,36.187796,-86.284216
982,"PISCATAWAY, NJ",PISCATAWAY,NJ,57348,22356,11507,91,20593,6599,451,...,899,31.800000,30.700000,33.300000,88494.00000,31187.00000,1430.000000,307800.0000,40.545640,-74.460817
983,"ROWLETT, TX",ROWLETT,TX,57288,41044,8556,142,4195,12255,442,...,450,38.550000,35.950000,40.300000,84380.50000,31033.00000,1330.500000,160950.0000,32.917214,-96.550968
984,"SUN CITY, CA",SUN CITY,CA,57287,44773,2329,239,1830,19195,520,...,153,43.333333,41.866667,45.133333,55891.33333,23938.33333,1325.666667,216266.6667,33.716569,-117.207112
985,"GRAND FORKS, ND",GRAND FORKS,ND,57283,50645,1377,1703,1493,1977,286,...,220,25.833333,25.566667,26.133333,45041.50000,20585.00000,761.000000,158100.0000,47.919291,-97.126281
986,"NEW BRUNSWICK, NJ",NEW BRUNSWICK,NJ,57280,38207,8207,157,5026,31542,908,...,460,23.200000,23.600000,22.800000,38435.00000,14174.00000,1343.000000,242200.0000,40.483638,-74.442460
987,"NACOGDOCHES, TX",NACOGDOCHES,TX,57113,42313,11530,247,970,11577,643,...,236,28.025000,27.625000,28.600000,37197.33333,16630.25000,736.333333,109666.6667,31.633325,-94.630291
988,"PRESCOTT, AZ",PRESCOTT,AZ,57030,53492,371,834,905,4512,123,...,141,56.575000,55.450000,56.933333,49544.33333,25175.50000,818.000000,277833.3333,34.621839,-112.560716
989,"SAN BENITO, TX",SAN BENITO,TX,57019,49507,105,117,136,53051,1947,...,12,30.700000,29.900000,31.700000,28459.00000,11950.00000,545.000000,62000.0000,26.106086,-97.629292
990,"SANTA CLARITA, CA",SANTA CLARITA,CA,56993,42716,1612,277,4937,14318,301,...,252,39.600000,39.250000,40.050000,103380.50000,38164.50000,1617.000000,451450.0000,34.493239,-118.460921
991,"OAK LAWN, IL",OAK LAWN,IL,56987,48190,3436,27,1023,10248,716,...,159,41.000000,37.900000,44.300000,56116.00000,27219.00000,1029.000000,189600.0000,41.713436,-87.752560
992,"ROSWELL, NM",ROSWELL,NM,56900,45031,1075,759,519,30052,786,...,159,35.550000,33.250000,37.550000,41825.50000,21523.00000,712.500000,108900.0000,33.476344,-104.244520
993,"LAKE HAVASU CITY, AZ",LAKE HAVASU CITY,AZ,56889,52524,297,358,749,8547,327,...,81,52.000000,52.100000,51.833333,41662.00000,23846.66667,864.666667,187366.6667,34.497848,-114.255400
994,"ALTAMONTE SPRINGS, FL",ALTAMONTE SPRINGS,FL,56883,42747,9599,8,1629,13925,504,...,397,40.800000,39.500000,42.500000,49270.00000,26841.00000,1008.500000,137250.0000,28.664100,-81.391002
995,"CHILLICOTHE, OH",CHILLICOTHE,OH,56783,50065,3842,27,398,689,577,...,356,40.400000,39.100000,42.300000,43460.00000,21112.00000,672.000000,112500.0000,39.312060,-82.957071
996,"FARMINGTON, NM",FARMINGTON,NM,56781,35887,448,14425,298,13550,425,...,325,34.333333,34.066667,35.500000,48492.66667,22886.66667,978.500000,151933.3333,36.622898,-108.179508
997,"FAIRFIELD, CT",FAIRFIELD,CT,56704,50515,946,8,2777,3337,140,...,367,40.150000,39.250000,41.400000,119230.50000,55042.00000,1679.000000,556600.0000,41.184811,-73.262036
998,"DEARBORN HEIGHTS, MI",DEARBORN HEIGHTS,MI,56656,47746,4856,338,1108,2371,745,...,186,38.400000,38.300000,38.650000,45113.00000,21787.00000,947.500000,84050.0000,42.306564,-83.274064

In [27]:
database_path = "../Resources/zip_census.sqlite"
zip_engine = create_engine(f"sqlite:///{database_path}")
zip_conn = zip_engine.connect()

zip_df = pd.read_sql("select * from Zip_Census; " , zip_conn)

In [23]:
zip_df

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Median Gross Rent,Median Home Value,Employment Male Computer Engineering,Employment Female Computer Engineering,zipcode,lat,lng,city,state,CityState
0,37.6,36.5,39.0,17982,16956,102,14,0,17942,456,...,359,104500,60,21,00601,18.180555,-66.749961,ADJUNTAS,PR,"ADJUNTAS, PR"
1,39.5,38.6,40.3,40260,23144,693,8,72,37681,955,...,395,90200,211,85,00602,18.361945,-67.175597,AGUADA,PR,"AGUADA, PR"
2,39.9,37.7,41.4,52408,36177,2057,76,655,50437,1014,...,384,128400,362,150,00603,18.455183,-67.119887,AGUADILLA,PR,"AGUADILLA, PR"
3,40.8,41.0,40.3,6331,4399,151,0,0,6323,188,...,280,108500,9,0,00606,18.158345,-66.932911,MARICAO,PR,"MARICAO, PR"
4,40.2,36.9,42.2,28328,17791,950,0,26,27999,377,...,424,113200,126,45,00610,18.295366,-67.125135,ANASCO,PR,"ANASCO, PR"
5,39.9,38.1,41.6,64816,53756,3252,331,808,64542,1330,...,410,102000,313,123,00612,18.402253,-66.711397,ARECIBO,PR,"ARECIBO, PR"
6,42.8,41.3,43.8,10707,10088,224,31,0,10685,213,...,475,95800,0,15,00616,18.420412,-66.671979,BAJADERO,PR,"BAJADERO, PR"
7,37.1,36.1,39.0,24793,23276,539,0,30,24645,624,...,448,106300,126,0,00617,18.445147,-66.559696,BARCELONETA,PR,"BARCELONETA, PR"
8,42.5,43.0,41.9,7425,5251,104,0,0,7357,130,...,547,137400,12,0,00622,17.991245,-67.153993,BOQUERON,PR,"BOQUERON, PR"
9,40.9,39.5,42.1,42955,32402,1515,40,16,42881,910,...,388,112800,211,168,00623,18.083361,-67.153897,CABO ROJO,PR,"CABO ROJO, PR"

In [28]:
merge_df = pd.merge(df, zip_df, how = "inner", on="city")

In [30]:
merge_df[['city', 'Population_x', 'Median Home Value_y', 'Education None_x' ]]

            city  Population_x  Median Home Value_y  Education None_x
0    SAN ANTONIO       1691381               118800             21499
1       RICHMOND        376938               443300              4543
2       RICHMOND        116824               443300              1707
3       RICHMOND         86070               443300              1564
4       RICHMOND         57892               443300               416
5       GLENDALE        287559               306500              2910
6       GLENDALE        177583               306500              4701
7    SPRINGFIELD        225928               103100               866
8    SPRINGFIELD        225928               131200               866
9    SPRINGFIELD        225928               130700               866
10   SPRINGFIELD        225928               154000               866
11   SPRINGFIELD        225928               148200               866
12   SPRINGFIELD        225928               127200               866
13   SPRINGFIELD        225928               158300               866
14   SPRINGFIELD        225928               145200               866
15   SPRINGFIELD        225928               170200               866
16   SPRINGFIELD        225928               163100               866
17   SPRINGFIELD        225928                    0               866
18   SPRINGFIELD        144780               103100              2325
19   SPRINGFIELD        144780               131200              2325
20   SPRINGFIELD        144780               130700              2325
21   SPRINGFIELD        144780               154000              2325
22   SPRINGFIELD        144780               148200              2325
23   SPRINGFIELD        144780               127200              2325
24   SPRINGFIELD        144780               158300              2325
25   SPRINGFIELD        144780               145200              2325
26   SPRINGFIELD        144780               170200              2325
27   SPRINGFIELD        144780               163100              2325
28   SPRINGFIELD        144780                    0              2325
29   SPRINGFIELD        142162               103100               670
..           ...           ...                  ...               ...
55   SPRINGFIELD        100386               148200               760
56   SPRINGFIELD        100386               127200               760
57   SPRINGFIELD        100386               158300               760
58   SPRINGFIELD        100386               145200               760
59   SPRINGFIELD        100386               170200               760
60   SPRINGFIELD        100386               163100               760
61   SPRINGFIELD        100386                    0               760
62   SPRINGFIELD         75007               103100               730
63   SPRINGFIELD         75007               131200               730
64   SPRINGFIELD         75007               130700               730
65   SPRINGFIELD         75007               154000               730
66   SPRINGFIELD         75007               148200               730
67   SPRINGFIELD         75007               127200               730
68   SPRINGFIELD         75007               158300               730
69   SPRINGFIELD         75007               145200               730
70   SPRINGFIELD         75007               170200               730
71   SPRINGFIELD         75007               163100               730
72   SPRINGFIELD         75007                    0               730
73       SALINAS        185894                86800              4139
74        WARREN        134857               199800              1966
75        WARREN         75148               199800               372
76    PLAINFIELD         95803               236400               360
77    PLAINFIELD         72679               236400              1361
78      FLORENCE         91541               287700               526
79      FLORENCE         64075               287700               473
80  WILLIAMSBURG         88741               256300               728
81        DALTON         81680               181900              1699
82    HUNTINGTON         76060               217400               410
83  CHESTERFIELD         59303               233800                52
84        GOSHEN         58615               243200               571

[85 rows x 4 columns]